@import "bootstrap-override";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

$input-validation-error-bg-color: #f2dede;
$readonly-validation-error-bg-color: #fb7777;

$padding-btn-large-vertical: 5px;
$padding-btn-large-horizontal: 23px;

$accordion-heading-anchor-padding: 10px 15px;
$accordion-heading-padding: 0px;
$accordion-heading-border-radius: 3px;

$striped-alt-color: #fafafa;
$striped-main-color: #fff;

$btn-secondary-color:              #fff;
$btn-secondary-bg:                 #000;
$btn-secondary-border:             #000;

$btn-green-color:              #000;
$btn-green-bg:                 #8ec548;
$btn-green-border:             #8ec548;

$blue:  #2A79B9;
$btn-blue-color: #fff;

@mixin hoverTooltip($commentText) {
    &:hover:after {
        content: $commentText;
        display: block;
        position: absolute;
        top: -20px;
        left: 0px;
        width: 100px;
        z-index: 98;
        font-size: $normal-text-size !important;
        line-height: $normal-line-height !important;
        background-color: $main-gray !important;
        border-color: $border-gray !important;
        border: 1px solid;
        padding: 5px;
        border-radius: 3px;
        color: #555 !important;
        font-family: 'FontAwesome';
    }
}

@mixin hoverTTButton($comment) {
    @include hoverTooltip($comment);
    &:hover:after {
        top: -25px !important;
        left: -35px !important;
    }
}

* {    
    font-size: $normal-text-size;
    line-height: $normal-line-height;
    font-family: Arial;
}

.inherit {
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
}

.logo {
    font-size: 26px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    .logo-primary {
        font-weight: 700;
        font-size: 26px;
    }
}

.sub-logo {
    font-size: 20px;
    font-family: Calibri;
    font-style: italic;
    font-weight: 100;
    color: gray;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.branded {
    color: $brand-primary;
}

.branded-header, .branded-header th {
    background-color: $brand-primary;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 15px;
    border: 1px solid $table-border-color;

        a {
            color: #fff !important;
        }
}

.btn {
    &.btn-lg {
        padding-top: $padding-btn-large-vertical;
        padding-bottom: $padding-btn-large-vertical;
        padding-left: $padding-btn-large-horizontal;
        padding-right: $padding-btn-large-horizontal;
    }
}

.clickable {
    cursor: pointer;
}

input.form-control{
    height: $input-height;
    font-size: $normal-text-size;
    line-height: $normal-line-height;
}

.form-control-feedback {
    line-height: $input-height;
}

.container {
    @media (min-width: 1200px) and (max-width: 1379px) {
        width: 1000px;
    }
    @media (min-width: 992px) and (max-width: 1173px) {
        width: 750px;
    }
    @media (min-width: 910px) and (max-width: 957px) {
        width: 700px;
    }
    @media (min-width: 880px) and (max-width: 909px) {
        width: 650px;
    }
    @media (min-width: 820px) and (max-width: 879px) {
        width: 600px;
    }
    @media (min-width: 768px) and (max-width: 819px) {
        width: 550px;
    }

    min-height: 100%;
    position: relative;
}

hr.underline {
    margin-top: 8px;
    margin-bottom: 20px;
}

input.input-validation-error {
	background-color: $input-validation-error-bg-color;
}

.datepicker.datepicker-dropdown {
    z-index: 1050;
}

.navbar {
    margin: 0px;
    padding: 3px 0px 0px 0px;
    border: 0px;

    .navbar-collapse {
        padding: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .navbar-nav {
        width: 100%;
        font-weight: bold;

        > li {
            margin: 0px !important;

            &.active a {
			    background-color: $nav-active-bg-color;
                color: $nav-active-color;
		    }

            > a {
                background-color: $nav-bg-color;
                color: $nav-color;
                text-align: center;
            }

            margin-right: 1px;
        }
    }
}

.accordion-group {
    .accordion-heading {
        border-radius: $accordion-heading-border-radius;
        padding: $accordion-heading-padding;
        a {
            display: block;
            padding: $accordion-heading-anchor-padding;
        }

        &:hover {
            box-shadow: 0px 0px 5px $brand-primary;
            a {
                text-decoration: none;
            }
        }
    }
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

.space-bottom-full {
    margin-bottom: 1em;
}

.space-bottom-half {
    margin-bottom: 0.5em;
}

.stacked-buttons {
    .btn {
        margin-bottom: 3px;
    }
}

.tile {
	cursor: pointer;
    font-family: 'Lato', sans-serif;
    text-decoration: none !important;

    img {
        margin-bottom: 15px;
    }

    .name {
        color: black;
        font-weight: bold;
        font-size: 22px;
    }

    .description {
        color: dimgray;
    }
}

.ajaxFeedback {
    position: absolute;
    left: 50%;
    height: 50%;
    top: 50%;
    border-radius: 3px;
    padding: 10px;
    z-index: 11;
    img {
        transform: translate(-50%,0%);
        -webkit-transform: translate(-50%,0%);
        -ms-transform: translate(-50%,0%);
        -o-transform: translate(-50%,0%);
        transform: translate(-50%,0%);
    }
}

.noPadding {
    padding-left:0px;
    padding-right:0px;
}

label.btn > input[type='radio']
{
    display: none;
}

.sessioned-layout {
    background-image: url("Images/content-background.png");
    background-repeat: no-repeat;
    background-position: top center;

    .account {
        a {
            color: black;
            text-decoration: underline;
        }

        padding-bottom: 15px;
    }

    .body-content {
        padding: 25px;
        margin-bottom: 50px;
        background-color: rgba(255, 255, 255, 0.90);
        min-height: 550px;
    }

    .breadcrumbs {
        padding: 10px 25px 10px 0px;
        background-color: rgba(255, 255, 255, 0.90);
        border-bottom: 1px thin lightgray;
        
        span {
            font-size: 14px;
            color: #000;
        }

        a {
            color: dimgray;
        }   

        .breadcrumbs-content {
            padding: 10px 25px;
        }

        .breadcrumb-inner {
            color: #888;
        }

    }
}

.anonymous-layout {
    background-image: url("Images/login-background.png");
    background-repeat: no-repeat;
    background-position: top center;

    .logo {
        @extend logo;
        color: white;
    }

    .logo-primary {
        @extend logo-primary;
        color: white;
    }
    #form {
        margin-top: 100px;
        max-width: 400px;
        border: 12.5px solid rgba(235, 235, 235, 0.55);

        .container {
            max-width: 375px;
        }

        #header {
            height: 80px;
            background-color: black;
            padding: 25px 25px 25px 25px;
        }

        #body {
            background-color: white;
            padding: 15px 35px 15px 35px;
        }

        .form-group {
            padding-bottom: 4px;
        }
    }

    a {
        color: dimgray;
    }

    input {
        background-color: rgba(230, 230, 230, 0.3);
    }

    .btn-green {
        width: 100%;
        font-size: $giant-text-size;
        line-height: $giant-line-height;
    }
}

.footer {
    @extend .navbar, .navbar-fixed-bottom;
    background-color: black;
    color: lightgray;

    a {
        color: lightgray;
        text-decoration: none !important;
    }
}

.striped-grid {
    border-spacing: 0px 5px;
    border-collapse: separate;

    .grid-row:nth-child(even), tr:nth-child(even) {
        .grid-cell, td {
            background-color: $striped-alt-color;
        }
    }

    .grid-cell, td {
        background-color: $striped-main-color;
        border: 1px solid $table-border-color;
        padding-top: 10px;
        padding-bottom: 10px;
        height: 100%;
        margin-bottom: 2px;
        vertical-align: middle;
    }
}


table {
    tbody tr.sub-row:nth-child(even) td, tbody tr.sub-row:nth-child(odd) td {
        background-color: $main-gray;
    }

    tr td.oob-error.oob-error {
        background-color: $readonly-validation-error-bg-color !important;
    }
}

.unit-display {
    padding: 0px 5px;
    vertical-align: middle;
    text-align: center;
    height: 45px;
    min-width: 45px;
    line-height: 45px;
    border: 1px solid $table-border-color;
    background-color: #f0f0f0;
}

.btn {
    font-size: $giant-text-size;
    line-height: $giant-line-height;    
    height: $input-height;
    font-family: Calibri;
    padding: 6px 32px;

    &.btn-sm {
        padding: $padding-small-vertical $padding-small-horizontal;
        line-height: $line-height-small;
        font-size: $normal-text-size;
    }

    &.btn-med {
        padding: $padding-base-vertical $padding-base-horizontal;
        line-height: $normal-line-height;
    }
}

.fa {
    font-family: FontAwesome;
}

[data-toggle="buttons"] {
  > .btn,
  > .btn-group > label.btn {
      display      : inline-block;
      line-height: $giant-line-height;
      height: $input-height;
      /*> span{
            display          : inline-block;
            width            : 0.875em;
            height           : 0.875em;
            margin           : 0.25em 0.5em 0.25em 0.25em;
            border           : 0.0625em solid #ccc;
            border-radius    : 0.25em;
            background       : #ddd;
            vertical-align   : middle;
        }
        input[type=checkbox]:checked + span,
        input[type=radio]:checked + span{
            background-color :    $brand-primary;
        }*/
    }   
}

[data-toggle="buttons"].btn-group {
    > .btn {
        color: #000;
        background-color: #FFF;
        border-color: $border-gray;
        font-size: $large-text-size;
        padding: 6px 12px;

        &:focus,
        &.focus {
        color: #000;
        background-color: $main-gray;
        border-color: $border-gray;
        }
        &:hover {
        color: #000;
        background-color: lighten($main-gray, 5);
        border-color: $border-gray;
        }
        &:active,
        &.active {
            @include box-shadow(none);
        }
        &:active,
        &.active,
        .open > &.dropdown-toggle {
            color: $brand-primary;
            background-color: $main-gray;
        border-color: $border-gray;

            &:hover,
            &:focus,
            &.focus {
                color: $brand-primary;
                background-color: lighten($main-gray, 5);
        border-color: $border-gray;
            }
        }
        &:active,
        &.active,
        .open > &.dropdown-toggle {
        background-image: none;
        }
        &.disabled,
        &[disabled],
        fieldset[disabled] & {
            &:hover,
            &:focus,
            &.focus {
                background-color: lighten($main-gray, 5);
        border-color: $border-gray;
            }
        }

        .badge {
        color: #FFF;
        background-color: #000;
        }
    }
    background-color: #FFF;
    height: $input-height;
}



// Secondary button blackish
.btn-secondary {
  @include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
}

//Green for the homepage
.btn-green {
  @include button-variant($btn-green-color, $btn-green-bg, $btn-green-border);
}

.btn-blue {
    @include button-variant($btn-blue-color, $blue, $blue);
}

.blue {
    color: $blue;
}

.multiselect-control-container {
    width: 100%;
    > .input-group {
        margin: 0px;
        cursor: pointer;

        .input-group-addon {
            font-size: $giant-text-size;
            border-left: 0px;
        }

        span:first-of-type {
            background-color: #FFF;
        }
        
        button:first-of-type {
            border-right: 0px;
        }

        .glyphicon-menu-down {
            color: $brand-primary;
        }

        > .btn {
            color: $brand-primary;
            background-color: #FFF;
            border-color: $border-gray;
            width: 100%;
            font-size: $normal-text-size;
            line-height: $giant-line-height;

            &:focus,
            &.focus {
                color: $brand-primary;
                background-color: #FFF;
                border-color: $border-gray;
            }
            
            &:hover {
                color: $brand-primary;
                background-color: #FFF;
                border-color: $border-gray;
            }
            
            &:active,
            &.active {
                @include box-shadow(none);
            }

            &:active,
            &.active,
            .open > &.dropdown-toggle {
                color: $brand-primary;
                background-color: #FFF;
                border-color: $border-gray;

                &:hover,
                &:focus,
                &.focus {
                    color: $brand-primary;
                    background-color: #FFF;
                    border-color: $border-gray;
                }
            }

            &:active,
            &.active,
            .open > &.dropdown-toggle {
                background-image: none;
                }
                &.disabled,
                &[disabled],
                fieldset[disabled] & {
                    &:hover,
                    &:focus,
                    &.focus {
                        background-color: #FFF;
                            border-color: $border-gray;
                    }
            }

            .badge {
                color: #FFF;
                background-color: #000;
            }
        }
    }
}

.multiselect-container.dropdown-menu {
    padding-top: 0px;
    padding-bottom: 10px;
      z-index: 6100;

    .input-group {
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

}

h3 {
    font-family: Arial;
    font-size: $giant-text-size;
}

h4 {
    font-family: Arial;
    font-size: $large-text-size;
    font-weight: bold;
}

.circle-status {
	border-radius: 50%;
	width: 16px;
	height: 16px;
    margin-left: 5px;
	&.status-complete {
        background-color: #8ec548;
        @include hoverTooltip("At least one measurement is complete");
        &:hover:after {
            position: relative;
            top: -75px;
            left: -50px;
            color: #000;
        }
	}
    &.status-invalid {
        background-color: $brand-primary;
        @include hoverTooltip("At least one measurement is invalid");
        &:hover:after {
            position: relative;
            top: -75px;
            left: -50px;
            color: #000;
        }
    }
    &.status-incomplete {
        background-color: #bbb;
        @include hoverTooltip("At least one measurement is incomplete");
        &:hover:after {
            position: relative;
            top: -75px;
            left: -50px;
            color: #000;
        }
    }
    &.status-skipped {
        background-color: #2a79b9;
        @include hoverTooltip("At least one measurement is skipped");
        &:hover:after {
            position: relative;
            top: -75px;
            left: -50px;
            color: #000;
        }
    }
}

.data-entry-actions-edit {
    @include hoverTTButton("Edit Report");
}

.data-entry-actions-delete {
    @include hoverTTButton("Delete Draft");
}

.data-entry-actions-skip {
    @include hoverTTButton("Skip Measurement");
    &:hover:after {
        top: -50px !important;
    }
}

.data-entry-actions-unskip {
    @include hoverTTButton("Unskip Measurement");
    &:hover:after {
        top: -50px !important;
    }
}

.actions-nocomments {
    font-size:24px;
    color: #555;
    cursor: pointer;
    @include hoverTooltip("Add Comments");
}

.actions-hascomments {
    font-size:24px;
    color: $brand-primary;
    cursor: pointer;
    @include hoverTooltip("Edit Comments");
}

.report-actions-unsubmit {
    &.has-requested-unsubmit {
        .btn {
            background-color: $brand-primary;
            border-radius: 3px;
            color: white;
        }
    }
}

.report-actions-deny-unsubmit {
    @include hoverTTButton("Deny Unsubmit Request");
    &:hover:after {
        top: -60px !important;
        left: -30px !important;
    }
}

.report-actions-request-unsubmit {
    @include hoverTTButton("Request Unsubmit");
    &:hover:after {
        top: -40px !important;
        left: -10px !important;
    }
}

.site-actions-edit {
    @include hoverTTButton("Edit Site");
}

.system-actions-edit {
    @include hoverTTButton("Edit System");
}

.user-actions-deactivate {
    @include hoverTTButton("Deactivate User");
    &:hover:after {
        top: -40px !important;
        left: -25px !important;
    }
}

.user-actions-unlock {
    @include hoverTTButton("Unlock User");
    &:hover:after {
        left: -30px !important;
    }
}

.user-actions-grant {
    @include hoverTTButton("Grant User Access to Selected Site");
    &:hover:after {
        top: -55px !important;
        left: -25px !important;
    }
}

.user-actions-revoke {
    @include hoverTTButton("Revoke User Access to Selected Site");
    &:hover:after {
        top: -55px !important;
        left: -25px !important;
    }
}

.vertical-center {
  min-height: 100%;
  display: flex;
  align-items: center;
}

.text-disabled {
    color: darken($disabled-gray, 25%);
}

.pager-control {
    color: $brand-primary;
    background-color: #FFF;

    .btn {
            color: $brand-primary;
            background-color: #FFF;
            border-color: $border-gray;
            font-size: $normal-text-size;
            line-height: $giant-line-height;
            width: 34px;
            height: 34px;
            padding: 0px;
            font-size:24px;
            border: 1px solid;
            border-radius: 3px;

            &:focus,
            &.focus {
                color: $brand-primary;
                background-color: #FFF;
                border-color: $border-gray;
            }
            
            &[disabled] {
                background-color: $main-gray;
                color: #bbb;
            }

            &:hover {
                color: $brand-primary;
                background-color: $light-gray-fill;
                border-color: $border-gray;
            }
            
            &:active,
            &.active {
                @include box-shadow(none);
                border-color: $border-gray;
            }

            &:active,
            &.active,
            .open > &.dropdown-toggle {
                color: $brand-primary;
                background-color: #FFF;
                border-color: $border-gray;

                &:hover,
                &:focus,
                &.focus {
                    color: $brand-primary;
                    background-color: #FFF;
                    border-color: $border-gray;
                }
            }

            &:active,
            &.active,
            .open > &.dropdown-toggle {
                background-image: none;
                }
                &.disabled,
                &[disabled],
                fieldset[disabled] & {
                    &:hover,
                    &:focus,
                    &.focus {
                        background-color: $main-gray;
                        border-color: $border-gray;
                        color: #bbb;
                    }
            }

            .badge {
                color: #FFF;
                background-color: #000;
            }
        }

}

.pager-text {
    color: #000;
    margin-left: 10px;
}

.btn.fa {
    color: $brand-primary;
    background-color: transparent;
    font-size: $normal-text-size;
    line-height: $giant-line-height;
    width: 34px;
    height: 34px;
    padding: 0px;
    font-size:24px;
    border: 0px;

    &[disabled] {
        color: inherit;
    }
}

td > div {
    
     a > span > i.fa {
        font-size: 24px;
        color: #333333;
    }
}

.inset-container {
    background-color: $light-gray-fill;
    border: 1px solid;
    border-radius: 3px;
    border-color: $border-gray;
    padding: 15px;
    margin-left: 0px;
    margin-right: 0px;
}

.reportHeader {
    font-size: 22px !important;
    font-weight: bold;

    .name {
        color: $brand-primary;
        font-size: 22px !important;
        font-weight: bold;
    }
}

.report-attachment {
    color: $brand-primary;
}

.report {
    @extend .inset-container;

    margin: 15px;

    .systemInfo {
        div[class~="col"]:not(:first-child) {
            border-left: 1px solid $border-gray;
        }
        padding-bottom: 15px;
    }

    .measurement {
        background-color: white;
        margin-left: 0px !important;
        margin-right: 0px !important;
        padding-top: 15px;
    }

    .measurement:not(:last-child) {
        margin-bottom: 25px;
    }

    .report-header {
        @extend .branded-header;

        th {
            background-color: gray;
            color: white;
        }
    }

    .comment {
        a, span {
            overflow:hidden;
            white-space:nowrap;
            text-overflow:ellipsis;
            width:200px;
            display:block;
            font-style: italic;
            font-weight: bold;
            color: lightgrey;
        }

        a {
            color: darkgray !important;
            text-decoration: none;
        }

        a:hover {
            color: $brand-primary !important;
            text-decoration: none;
        }
    }

    .oob {
        margin: 0px;
        padding: 0px;

        a, span {
            color: $brand-primary !important;
        }
    }

    table {

        td {
            font-weight: bold;
            padding: 10px 15px !important;
            vertical-align: middle !important;
        }

        td > * {
            vertical-align: middle !important;
        }

        td > div {
            width: unset;
            height: unset;
        }
    }
}

.pager-row {
    height: 50px;
}

input.data-entry-input + span.text-danger {
    display: none;
}

.has-error {

    .data-entry-invalid {
        background-color: unset;
        border-left: 0px;
    }

}