@{
    Layout = "~/Views/Shared/_LayoutBare.cshtml";
    ViewBag.Title = "Forgot Password";
}
<div class="container-fluid">
    <section id="form" class="center-block">
        <div class="container">
            <div class="row text-center" id="header">
                <span class="logo"><span class="logo-primary">WATER</span> TREATMENT</span><br />
                <span class="sub-logo">Water System Management</span>
            </div>
            @using (Html.BeginForm("ForgotPassword", "Account", new { }, FormMethod.Post, new { id = "forgotPassForm" })) {
                @Html.AntiForgeryToken()
                <div class="row" id="body">
                    <div class="form-group">
                        <div class="row" style="padding-bottom: 1.0em">
                            <div class="col-md-12">
                                <p>Please enter the email address of your account. We will send an email to this address with instructions for resetting your password.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label class="control-label">Email</label>
                                @Html.TextBox("Email", "", new { placeholder = "Email", @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-green" data-bind="enable: canSave">Send Reset Message</button>
                            </div>
                            <div class="form-group text-center">
                                <div>
                                    @Html.ActionLink("Back to Login", "Login")
                                </div>
                                <div class="text-danger">
                                    @Html.ValidationSummary(true)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
</div>
