@if (ViewBag.BannerMessage != null)
{
<div class="row" style="padding-top: 1.0em; padding-bottom: 1.0em">
    <div class="col-md-12">
        <span class="alert @(ViewBag.BannerClass ?? "")" >
            @ViewBag.BannerMessage
        </span>
    </div>
</div>
}