<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <connectionStrings>
    <add name="WaterTreatment" connectionString="Data Source=tcp:j1ozqr7nxa.database.windows.net,1433;Initial Catalog=watertreatment_demo;Integrated Security=False;User ID=nbi@j1ozqr7nxa;Password=pass@word1;Connect Timeout=30;Encrypt=True" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <applicationSettings xdt:Transform="Replace">
    <WaterTreatment.Web.Properties.Settings>
      <setting name="FileStoragePath" serializeAs="String">
        <value>C:\Nika</value>
      </setting>
      <setting name="MaxFailedAccessAttemptsBeforeLockout" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="DefaultAccountLockoutTimeSpan" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="FromEmailAddress" serializeAs="String">
        <value>nika@nika.com</value>
      </setting>
    </WaterTreatment.Web.Properties.Settings>
  </applicationSettings>
</configuration>